*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

  body{
    background: linear-gradient(to bottom, #ff9a44, #fc6076);
}


.main-box{
    width: 80%;
      
      margin: auto;
    padding: 30px 0;
}


  .heading{
    text-align: center;
    font-size: 2.5rem;


    color: white;
    margin-bottom: 20px;
}


.content{
    display: flex;
      flex-wrap: wrap;

       justify-content: space-around;
    gap: 25px;


}


.box{
    width: 350px;
      background: white;
   
    border-radius: 20px;
       overflow: hidden;
      box-shadow: 0 10px 25px whie;
      
    transition: all 0.4s ease;
    position: relative;
    
}


 .box:hover{
      transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px black;
}


 .box 
 img{
    width: 100%;
      height: 270px;
    object-fit: cover;
    border: none;
    margin: 0;
}


.box p{
    padding: 15px;
      font-size: 0.95rem;
    color: #444;
    line-height: 1.6;
    text-align: justify;
}


.box span{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
      color: #fc6076;
      margin-bottom: 5px;
}


.box p::first-letter{
      font-size: 2rem;
    font-weight: bold;
    color: #ff9a44;
}


@media (max-width: 768px){
    .box{
        width: 100%;
    }

    .heading{
        font-size: 2rem;
    }
}