*{
    margin: 0%;
    padding: 0%;
      
    box-sizing: border-box;
}

  html ,body{
      height: 100%;
       width: 100%;
      z-index: 0;
     background-color: #F7F8FF;
    display: flex;
    justify-content:center;

}

.rectangle-1{

  position:fixed;
   left: 0;
  top: 0;
  width: 700px;
  aspect-ratio: 1;
    clip-path: polygon(0 0,100% 0,0 100%);
    
  background:#CBB8FF;
  z-index: 0;

}


.rectangle-2{

  position: fixed;
  width: 700px;
  right: 0;
  bottom: 0;
  aspect-ratio: 1;
    clip-path: polygon(0 100%,100% 0,100% 100%);
  background: #CBB8FF;;
  z-index: 0;
}

.content-box{
    margin:  30px;
    position:  relative;
    height: 100%;
     width: 70%;
     z-index: 2;
    display: flex;
justify-content: space-between; 
     align-items: center; 
    flex-wrap: wrap;
}

.box{
    height: 700px;
      width:  400px;
    border-radius: 25px;   
    
transform: translateY(-10px);
    transition:  0.3s ease;
      display: flex;
    flex-direction: column;
     align-items: center;

      background-color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1)
    
}

 .box:hover{
    transform:  scale(1.02);
    box-shadow: 0 20px 40px black;
    transition: all 1s ease-in-out;
}

.s{
    margin-top: 30px;
}


.h-1 {
     color: #4B3FA7; 
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
}

.h-3{

     color: #4B3FA7; 
    font-family: 'Poppins', sans-serif;

}

.div-p{
    color: #444;
    text-align: center;
    margin: 30px 70px;
    font-size: 1.4em;
}


@media (max-width: 1024px){

 

.box{
        width: 100%;
        height: auto;
        padding: 20px;
            transform: translateY(0); 
        margin-top: 70px;
    }

    .div-p{
        margin: 20px;
        font-size: 1em;
    }

.h-1{
     font-size: 1.1em;
    }

.h-3{
         font-size: 0.9em;
    }

.rectangle-1,.rectangle-2{
        width: 300px;
    }

    .rectangle-2{
        width: 300px;
        bottom: 0;
    }
}