*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #E3EFEF;
    display: flex;
    flex-direction: column;
}

.heading-box{
    margin: 20px 80px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-h{
    font-size: 2rem;
    padding: 0;
    color: #003134;
}

hr{
    margin: 0px 20px 20px 10px;
    border: 1px solid #818484;
}

.main-content-box{
    width: 60%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 60px;
}


.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 25px;
    background-color: white;

    transition: transform 1s ease-in-out
   
}

.box:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


.image img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 15px;
    border-radius: 20px;
}


.des h2,
.button{
    margin: 10px 20px;
    color: #003134;
    font-weight: bold;
}

.des p{
    margin: 5px 20px;
    color: #003134;
    text-align: justify;

}


.button button{
  background: #40B3A2;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  color: black;
  font-size: 18px;
  font-weight: bolder;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-bottom: 5px;
}

.button button:hover{
    background: #2b8f82;
    transform: scale(1.05);
}



@media screen and (max-width: 760px){

    .heading-box{
        margin: 20px;
        flex-direction: column;
        gap: 10px;
    }

    .top-h{
        font-size: 1.5rem;
    }

    .main-content-box{
        margin: 20px 35px
    }
}