/* This style sheet for the my advetisment web page */

/*here by default margin padding for all and for all transition */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f2ea;
  color: #333;
  overflow-x: hidden;
  font-family: "Gelasio", serif;
  font-weight: 600;
}

/* here i apply background image for my first section */

.first-section {
  width: 100%;
  height: 50vh;
  background-image: url(https://images.unsplash.com/photo-1582610116397-edb318620f90?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  position: relative;
}

/*this is the header section for meanus*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 90px;
  flex-wrap: wrap;
  gap: 15px;
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

/*here css for the logo of villas*/

.logo img {
  height: 70px;
  width: 150px;
}

.logo img:hover {
  transform: scale(1.2);
}

/*This style for links in menue sectioin*/

.a {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.a a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.a a:hover {
  transform: scale(1.2);
}

/*This css for the buttons present in page*/
.btn,
.btn-p {
  background: #c89b3c;
  color: white;
  padding: 13px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover,
.btn-p:hover {
  transform: scale(1.2);
}

/*This css of hemberger*/
#t {
  display: none;
}

.i {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.heading-box {
  position: absolute;
  bottom: 30px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 1000px;
  padding: 20px 25px;
  height: 300px;
}

/*this css of box offer in firs section */

.offer-box {
  background: #e8d3a9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  font-size: 30px;
  font-weight: bold;
}

.offer-box p {
  font-size: 20px;
}

/*This css of main heading of page text*/

.offer-text {
  font-family: "Piedra", serif;
  font-weight: 400;
  font-style: normal;
}

.offer-text h1 {
  font-size: 60px;
  color: white;
}

.offer-text h1 span {
  color: #b67d01;
}

.offer-text p {
  margin: 10px 0;
  font-size: 20px;
  color: white;
  font-weight: 800;
}

/*this section of about */
.a-s-1 {
  background: #efe3c7;
  display: flex;
  justify-content: space-between;
  padding: 50px 90px;
  gap: 40px;
  flex-wrap: wrap;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/*this is left part css of about section*/
.about-left {
  flex: 1;
  width: 250px;
}

.about-left h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-left p {
  font-size: 20px;
  color: #302f2f;
}

.f-1 img {
  height: 20vh;
  width: 15vw;
  object-fit: cover;
}

.f-1:hover img {
  transform: scale(1.15);
}

/*this is left part css of about section*/
.about-right {
  flex: 2;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  flex: 1;
  min-width: 180px;
  text-align: center;
}

.feature h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.feature h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.feature p {
  font-size: 13px;
  color: #555;
}

.a-s-1,
.a-s-2 {
  border-radius: 20px;
  margin: 30px;
  position: relative;
}

/*this section for features same as about*/
.a-s-2 {
  background: #0f3b36;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 90px;
  gap: 40px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  box-shadow: 0 10px 30px rgba(10, 10, 10, 0.2);
}

.a-s-2 .about-left p,
.a-s-2 .about-right p {
  color: #dfdcdc;
}

.a-s-2 .about-left h2,
.a-s-2 .about-right h4 {
  color: #fec60d;
}

.about-section {
  overflow: hidden;
}

/*This section style of gallery images */

.gallary {
  color: #302f2f;
  width: 100%;
  padding: 20px;
  padding-bottom: 30px;
}

.h-heading {
  text-align: center;
  padding: 20px;
}

.gbox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.box {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.box:hover img {
  transform: scale(1.15);
}

/*from here the offer and pricing css started*/

.prcing-offer {
  background: #0f3b36;
  padding: 30px 20px;
  color: black;
}

.prcing-offer h1 {
  color: #fec60d;
}

.pbox {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 360px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h2 {
  margin-top: 10px;
  font-size: 20px;
}

.card p {
  color: gray;
  font-size: 14px;
}

.card h3 {
  color: #c89b3c;
  margin: 10px 0;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.card ul li {
  font-size: 14px;
  margin: 5px 0;
}

/*From here the location section csss start*/

.location-section {
  background: #efe3c7;
  padding: 80px 20px;
  color: white;
}

.location-heading h2 {
  text-align: center;
  font-size: 36px;
  color: #41403f;
  margin-bottom: 40px;
}

.location-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.map-box {
  background: #0f3b36;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.map-box img {
  width: 500px;
  max-width: 100%;
  border-radius: 15px;
}

.map-box:hover {
  transform: scale(1.03);
}

.w-box {
  max-width: 420px;
  background: #0f3b36;
  backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.w-box h3 {
  margin-bottom: 20px;
  color: #f4b400;
  font-size: 24px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.f-item {
  background: rgba(176, 172, 172, 0.12);
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.f-item:hover {
  background: #f4b400;
  color: black;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(244, 180, 0, 0.4);
}

/*From here css for the client review section*/

.client-review {
  background: #efe3c7;
  padding: 20px;
  text-align: center;
}

.review-heading {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: bold;
}

.review-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.review-card {
  background: white;
  width: 300px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.review-card:hover {
  transform: translateY(-8px);
}

.review-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review-card h3 {
  margin: 5px 0;
  font-size: 18px;
}

.stars {
  color: #f4b400;
  margin-bottom: 10px;
}

.review-card p {
  font-size: 14px;
  color: #555;
}

/*from here the form section css start*/
.form-section {
  background: #0f3b36;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.form-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #f4b400;
}

.booking-form {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  color: #000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-g {
  margin-bottom: 15px;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.booking-form textarea {
  height: 100px;
}

.form-r {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.b-f {
  background: #c89b3c;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.b-f:hover {
  background: #a87f2e;
}

/*from here the footer section css start*/
.footer {
  background: #0d1b2a;
  color: white;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-c {
  flex: 1;
  min-width: 250px;
}

.footer-c ul {
  list-style: none;
}

.l {
  margin: 6px 0;
  font-size: 14px;
  cursor: pointer;
}

.footer-c ul a {
  text-decoration: none;
  color: white;
}

.l:hover {
  color: #c89b3c;
}

.btn:hover,
.card button:hover,
.booking-form button:hover {
  transform: scale(1.2);
}

/*from here media query ot tablet size screen*/
@media (max-width: 900px) {
  .header {
    flex-direction: row;
    text-align: center;
  }

  .logo img {
    height: 40px;
    width: 70px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .i {
    display: block;
  }

  .a {
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 80px;
    left: 0;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }

  .a a {
    padding: 10px 0;
    font-size: 18px;
    font-size: 14px;
  }

  #t:checked ~ .a {
    display: flex;
    flex-direction: row;
  }

  .heading-box {
    position: absolute;
    bottom: 30px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 20px 25px;
    border-radius: 10px;
    height: 300px;
  }

  .offer-text h1 {
    font-size: 30px;
  }

  .offer-text p {
    font-size: 18px;
  }

  .about-left h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about-left p {
    font-size: 15px;
    line-height: 1.6;
    color: #302f2f;
  }

  .f-1 img {
    height: 20vh;
    width: 23vw;
    object-fit: cover;
  }

  .box {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 20px;
    margin: auto;
  }

  .box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-row {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}

/*from here media query ot mobile size screen*/
@media (max-width: 450px) {
  .action {
    flex-direction: column;
  }

  .header {
    padding: 5px;
  }

  .heading-box {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 25px;
    height: 200px;
    left: 10px;
    bottom: 30px;
  }

  .btn {
    display: none;
  }

  .a a {
    font-size: 10px;
  }

  .offer-box p {
    font-size: 10px;
  }

  .offer-box h2 {
    font-size: 15px;
    font-weight: bold;
  }

  .offer-box span {
    font-size: 8px;
  }

  .f-1 img {
    height: 20vh;
    width: 40vw;
    object-fit: cover;
  }

  .a-s-1 {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
    gap: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }

  .a-s-2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
  }

  .a-s-2 .about-right h2 {
    font-size: 10px;
  }

  .box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .form-row {
    flex-direction: column;
  }
}
