*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100%;
}

.main-div{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
   
}

.heading{
    text-align: center;
}


.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: blueviolet;
    margin: 50px;
    font-weight: bolder;
}



.display-inline{
    display: inline;
    margin: 20px;
    padding: 50px;
   
}

.display-block{
    display: block;
    margin: 20px;
    padding: 50px;
}

.display-inline-block{

    display: inline-block;
    margin: 20px;
    padding: 50px;

}

.display-none{

    display: none;
    margin: 20px;
    padding: 50px;

}

.display-contents{

    display: contents;
    margin: 20px;
    padding: 50px;

}

.display-run-in{

    display: run-in;
    margin: 20px;
    padding: 50px;

}