*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;  
}

.center{
    display: flex;
    justify-content: center;
}

.main-div{
    width: 80%;
    
}

hr{
    border: 3px solid red;
    
}

.heading{
    text-align: center;
    font-size: 1.5Srem;
    
}

p{
    font-size: 25px;
    text-align: justify;
    font-size: 1.3em;
}


.float-right{
    float: right;
    border: 7px solid black;
    margin: 15px 15px 15px 15px;
    width: 25vh;
    
}

.float-left{
    float: left;
    border: 7px solid black;
    margin: 10px 15px 15px 10px;
    width: 25vh;
    
}