*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}



.main-div{
    width: 80%;
    margin: 40px 40px;

}


.s{
    margin: 20px;
    
}

.heading{
    text-align: center;
}

hr{
    border-top: 2px solid red;
}


img{
    float: right;
    margin: 20px 0px 40px 40px;
    border: 7px solid black;
}

p{
    text-align: justify;
    font-size: 1.3em;
}

