
/* This CSS File for styling the introduction task HTML file*/


/* here the by defult margin padding for all*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.margin-top-12px {
  margin-top: 12px;
}

/* set the width and height 100% of full body*/

html,
body {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

.main-div {
  margin: 40px 80px;
}

/* this for align the containt in center by horizontaly*/

.center-content {
  display: flex;
  justify-content: center;
}

hr {
  border-top: 2px solid red;
}

.under-line {
  text-decoration: underline;
}

.intro {
  font-size: 20px;
}

.intro-heading {
  margin-top: 20px;
}


/* this class for align paragraph properly */
.intro-para{
  text-align:justify;
}