* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, #67798c, #f2e4c8);
  overflow-x: hidden;

  font-family: "Gelasio", serif;

  font-weight: 500;
  font-style: normal;
}

body {
  animation: B 2s ease;
}

@keyframes B {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  60% {
    transform: scale(1.03);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.main-box {
  width: 90%;
  margin: auto;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px auto auto auto auto;

  grid-template-areas:
    "hero-section hero-section hero-section"
    "img-1 img-2 img-3 "
    "img-4 img-5 img-6 "
    "img-7 img-8 img-9 "
    "img-10 img-11 img-12 ";

  gap: 50px;
}

.hero-section {
  grid-area: hero-section;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hero-section img {
  width: 20%;
  height: 100%;
  margin-top: 13px;
}

.heading {
  padding: 40px;
  text-align: center;
  font-size: 2.5rem;
}

.box {
  width: 100%;
  height: 95%;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;

  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  box-shadow: 0 15px 30px rgb(98, 97, 97);
}

.box:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px black;
}

.img-1 {
  grid-area: img-1;
}
.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}

.img-4 {
  grid-area: img-4;
}

.img-5 {
  grid-area: img-5;
}
.img-6 {
  grid-area: img-6;
}
.img-7 {
  grid-area: img-7;
}

.img-8 {
  grid-area: img-8;
}
.img-9 {
  grid-area: img-9;
}
.img-10 {
  grid-area: img-10;
}
.img-11 {
  grid-area: img-11;
}

.img-12 {
  grid-area: img-12;
}

.image-div {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 10;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.image-div img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 20px;

  transition: transform 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.6s ease;
}

.image-div:hover .overlay {
  opacity: 1;
  transform: scale(1.2);
}

.image-div:hover img {
  transform: scale(1.1);
}

.overlay h2 {
  font-family: "Wellfleet", serif;
  font-weight: 400;
  font-style: normal;
}

.price-div,
.des-div,
.shop-button {
  padding: 10px 15px;
}

.shop-button {
  display: flex;
  justify-content: center;
}

.shop-button button {
  width: 100%;
  max-width: 250px;
  padding: 12px 20px;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  background: linear-gradient(45deg, #0076ce, #034e88);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.shop-button button a {
  text-decoration: none;
  color: white;
}

button:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 25px black;
}

@media (max-width: 768px) {
  .main-box {
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: 150px auto auto auto auto auto auto;
    grid-template-areas:
      "hero-section hero-section"
      "img-1 img-2"
      "img-3 img-4"
      "img-5 img-6"
      "img-7 img-8"
      "img-9 img-10"
      "img-11 img-12";
  }

  .hero-section img {
    width: 20%;
    height: 80%;
    margin-top: 13px;
  }
}

@media (max-width: 480px) {
  .main-box {
    width: 90%;
    margin: auto;
    display: grid;

    grid-template-rows: 150px auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero-section"
      "img-1"
      "img-2"
      "img-3"
      "img-4"
      "img-5"
      "img-6"
      "img-7"
      "img-8"
      "img-9"
      "img-10"
      "img-11"
      "img-12";

    gap: 50px;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section img {
    width: 40%;
    height: 80%;
    margin-top: 13px;
    margin-left: 50px;
  }
}
